# Rename this file to .env and fill in the values below

# PORT: the port on which the UI will run. Default: 5173
PORT=5173

# OPTIONAL: Define allowed hosts for the backend (cors)
# If set, the backend will only accept requests from these hosts, otherwise it will accept requests from any host.
# format: comma separated list of hosts (e.g. "localhost,example.com")
# Default: '*' (allow all hosts)
ALLOWED_HOSTS=*

# OPTIONAL: the host on which the UI will run. Default: localhost
# set to 0.0.0.0 for network access (e.g. if you want to access the UI from another device on the same network)
HOST=localhost

# OPTIONAL: trust proxy. This is ONLY important if you are running the UI behind a reverse proxy.
# Only enable it if you know what you are doing. Otherwise you don't need to enable this.
# default: false
TRUST_PROXY=false

# REQUIRED: TMDB API key, you can get one for free at https://www.themoviedb.org/documentation/api
VITE_TMDB_API_KEY=your_tmdb_api_key_here

# OPTIONAL: this is important if you want to deploy this project. If set to true, the UI will be built as a standalone app that does not require a backend server (that will also disable backend features like persistance and user accounts). The built output will be a static website (vite meaning one html,css,js) that can be hosted on any static hosting service (like github pages, netlify, etc).
# If set to false, the UI will expect a backend server to be running *on the same domain/port* and will use it for user accounts, persistance etc.
# Default: true
VITE_STANDALONE=false

# OPTIONAL: prefill the OMSS backend (cinepro core api). If not set, the UI will ask you to enter it on
# Default: undefined
VITE_OMSS_API_URL=http://localhost:8080
